@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@1,100&family=Lobster&display=swap');
body{
    padding: 0%;
    margin: 0%;
    border: 0;
    background-color: rgb(14,145,215);

    --backgroundBlock: rgb(29,34,74);
    --backgroundBtnHover: linear-gradient(225deg, #520000, #450000);;
    --bkgActBtnHov: rgba(0, 72, 179, 0.411);
    
    --tdBack: linear-gradient(225deg, #007b94, #00687c);
    --titleBack:rgb(197, 120, 31); 

    --btnColShad: 7px 7px 14px #404040,
    -7px -7px 14px #565656;

    --gradBack: linear-gradient(145deg, #444444, #505050);
    --gradBack2: linear-gradient(145deg, #505050, #444444);
    // --shadowIns: inset 5px 5px 10px #404040,
    // inset -5px -5px 10px #565656;
    
    // --shadowInsInput: inset 2px 2px 5px #404040,
    // inset -2px -2px 5px #565656;

    --shadowInsBorder: 5px 5px 10px #2b2a2a,
    -5px -5px 10px #565656;
    header{
        .Toolbar{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            padding: 10px 10px 0px 10px;
            & a{
                display: flex;
                align-items: center;
                width: 20%;
                height: 80px;
                background: var(--backgroundBlock);
                border-radius: 10px 0px 0px 0px;
                text-decoration: none;
                & p{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-left: 10%;
                    color: rgb(215,215,215);
                    width: 60px;
                    height: 60px;
                    border-radius: 50%;
                    background: rgb(251,43,93);
                    font-size: 26px;
                    font-weight: bold;
                    .s1, .s2{
                        text-shadow: 0px 1px rgb(0,0,0);
                    }
                    .s1{transform: translateY(-25%);}
                    .s2{transform: translateY(25%);}
                    box-shadow: 2px 2px 2px rgb(0,0,0),
                    -2px -2px 2px rgb(215,215,215),
                    inset 2px 2px 2px rgba(255, 255, 255, 0.322),
                    inset -2px -2px 2px rgba(0, 0, 0, 0.322);
                }
            }
            .btn{
                position: relative;
                overflow: hidden;
                height: 80px;
                width: 20%;
                cursor: pointer;
                border: 0;
                background: var(--backgroundBlock);
                box-shadow: var(--shadowIns);
                color: rgb(215,215,215);
                & p{
                    font-size: 22px;
                    font-family: JetBrains;
                    margin: 4px;
                    text-align: center;
                }
                & img{
                    position: absolute;
                    left: 0%;
                    top: 0%;
                    width: 80px;
                }

                &:hover{
                    border: 2px outset rgb(255,144,16);
                    color: rgb(255,144,16);
                }
            }
            .btnBar4{
                border-radius: 0px 10px 0px 0px;
            }
        }
    }
    main{
        display: flex;
        justify-content: space-between;
        // box-shadow: var(--btnColShad);
        padding: 10px;
        margin: 0px 10px;
        border-radius: 0px 0px 10px 10px;
        background-color: var(--backgroundBlock);
        .btnPanel{
            padding: 5px 0px 0px 0px;
            text-align: center;
            .btnMenu{
                width: 100%;
                height: 90px;
                border-radius: 5px;
                border: 0;
                margin-bottom: 4px;
                cursor: pointer;
                box-shadow: 0 0 0 2px rgb(113,29,79);
                background: var(--backgroundBlock);
                font-size: 24px;
                color: rgb(215, 215, 215);
                transition: 0.3s;
                &:hover{
                    background: linear-gradient(-45deg, rgb(44,46,146), rgb(94,32,139));
                    text-shadow: 0px 0px 20px rgb(197, 120, 31);
                    color: rgb(255,144,16);
                    box-shadow: 0 0 0 2px rgb(255,144,16);
                }
            }
        }
        .infoMain{
            // background: var(--backgroundBlock);
            background: rgb(22,29,75);
            box-shadow: var(--shadowIns);
            border-radius: 5px;
            padding: 5px;
            width: 70%;
            .Data_Info, .Infos_Panel{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                .Data, .Info, .Translation{
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    border-radius: 10px;
                    padding: 5px;
                    margin: 10px;
                    background: linear-gradient(135deg ,rgb(40,44,82), rgb(24,34,70));
                    box-shadow: 5px 5px 10px 2px rgb(0,0,0),-1px -1px 1px rgb(219, 219, 219);
                    .tittleData, input, select, textarea,button{
                        width: 90%;
                        height: 20px;
                        margin-bottom: 5px;
                        margin-right: 4px;
                        border: 0;
                        padding: 4px;
                        border-radius: 4px;
                        box-shadow: inset 0px 0px 2px 1px rgb(0,0,0, 0.3),
                        inset 0px 0px 4px 2px rgba(0, 0, 0, 0.3),
                        inset 0px 0px 8px 4px rgb(0,0,0, 0.3);
                        background: var(--backgroundBlock);
                        color: rgb(215, 215, 215);
                        font-weight: bold;
                        text-shadow: 0px 1px rgb(0,0,0);
                    }
                    .tittleData, button{
                        color: rgb(255,255,255);
                    }
                    .tittleData{
                        display: flex;
                        align-items: center;
                        background: var(--tdBack);
                        box-shadow: inset 1px 1px 5px rgb(0,0,0);
                        & img{
                            margin-right: 4px;
                            width: 32px;
                            height: 30px;
                        }
                    }
                    input::placeholder, textarea::placeholder{
                        color: rgb(215, 215, 215);
                        
                    }
                    select{
                        width: 94%;
                        padding: 0px;
                        height: 28px;
                    }
                    .btnSend {
                        position: relative;
                        overflow: hidden;
                        height: 3rem;
                        padding: 0 2rem;
                        border-radius: 1.5rem;
                        background: var(--backgroundBlock);
                        background-size: 400%;
                        color: #fff;
                        cursor: pointer;
                    }
                      
                    .btnSend:hover::before {
                        transform: scaleX(1);
                    }
                    .button-content {
                        position: relative;
                        z-index: 1;
                    }
                      
                    .btnSend::before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        transform: scaleX(0);
                        transform-origin: 0 50%;
                        width: 100%;
                        height: inherit;
                        border-radius: inherit;
                        background: rgb(0, 128, 0);
                        transition: all 0.475s;
                    }
                    .tittleData{
                        width: 80%;
                        font-size: 18px;
                    }
                }
            }
            .containerInfos{
                .Infos_Panel{
                    .Info{
                        background-color: rgb(255, 255, 255);
                        .countMoney{
                            width: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            & img{
                                width: 32px;
                                margin-right: 4px;
                            }
                            & p{
                                color: rgb(215,215,215);
                                font-size: 34px;
                                text-shadow: 0px 1px rgb(0,0,0);
                                margin: 0%; 
                            }
                            .flagName{
                                margin-left: 4px;
                            } 
                        }
                        
                        & .title{
                            text-align: center;
                            width: 80%;
                        }
                        
                    }
                }
            }
            .containerData{
                .Data_Info{
                    .expenseData{
                        .checkRadio{
                            display: flex;
                            .blockRadio{
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: space-between;
                                padding: 2px;
                                margin: 2px;
                                border-radius: 5px;
                                & p{
                                    margin: 0%;
                                }
                                input[type="radio"]{
                                    position: relative;
                                    width: 80px;
                                    height: 30px;
                                    margin: 10px;
                                    outline: none;
                                    background: rgb(17,17,17);
                                    appearance: none;
                                    cursor: pointer;
                                    border-radius: 20px;
                                    box-shadow: -5px -5px 20px rgba(255, 255, 255, 0.1),
                                    5px 5px 10px rgb(0, 0, 0, 1),
                                    inset -2px -2px 5px rgba(255, 255, 255, 0.1),
                                    inset 2px 2px 5px rgba(0, 0, 0, 1),
                                    0 0 0 2px #1f1f1f;
                                    transition: 0.5s;
                                }
                                input[type="radio"]:checked{
                                    background: rgb(45,186,242);
                                }
                                input[type="radio"]::before{
                                    content: '';
                                    position: absolute;
                                    top: 0%;
                                    left: 0%;
                                    width: 50px;
                                    height: 30px;
                                    background: linear-gradient(to top, #000, #555);
                                    border-radius: 20px;
                                    box-shadow: 0 0 0 1px #232323;
                                    transition: 0.5s;
                                }
                                input[type="radio"]:checked::before{
                                    left: 30px;
                                }
                                input[type="radio"]::after{
                                    content: '';
                                    position: absolute;
                                    left: 35px;
                                    top: calc(50% - 2px);
                                    background-color: red;
                                    width: 4px;
                                    height: 4px;
                                    border-radius: 50%;
                                    transition: 0.5s;
                                }
                                input[type="radio"]:checked::after{
                                    left: calc(35px + 30px);
                                    background-color: rgb(45,186,242);
                                    box-shadow: 0px 0px 5px rgb(45,186,242),
                                                0px 0px 10px rgb(45,186,242),
                                                0px 0px 15px rgb(45,186,242);
                                }
                            }
                        }
                    }
                }
            }
            .operations{
                display: flex;
                height: 500px;
                overflow: auto;
                table{
                    border-collapse: collapse;
                    border-spacing: 0;
                    text-align: center;
                    width: 100%;
                    // box-shadow: var(--btnColShad);
                    padding: 2px;
                    tr{
                        td{
                            font-size: 18px;
                            height: 40px;
                            box-shadow: var(--shadowInsInput);
                            background-color: var(--backgroundBlock);
                            cursor: pointer;
                        }
                    }
                    thead {
                        color: rgb(250,250,250);
                        text-shadow: 0 1px rgb(0,0,0),0 -1px rgb(0,0,0);
                        position: sticky;
                        top: 0;
                        box-shadow: inset 0px 0px 0px rgb(0,0,0);
                        td{
                            background: var(--tdBack);
                        }
                    }
                }
            }
        }
        .bdInfo{
            .itemBd{
                padding: 5px;
                border-radius: 5px;
                // box-shadow: var(--btnColShad);
            }
        }
        .btnPanel, .bdInfo{
            max-width: 15%;
            border-radius: 5px;
            background-color: var(--backgroundBlock);
        }
        .sendInfo{
            box-shadow: -5px 10px 10px 10px rgb(13,26,61),
            inset 20px 0px 30px 20px rgb(13,26,61);
        }
    }
}

